.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  }
