.inventory-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 100%;
}

.inventory-list h2 {
    text-align: left;
    color: #555;
}

.product-image {
    width: 100%;
    aspect-ratio: 1.1 / 1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.products-page h2 {
    text-align: center;
    color: #555;

}