.inventory-item {
    border: 2px solid #aed131;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.inventory-item:hover {
    transform: scale(1.05);
}

.product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}   

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
