:root{
  --gap:12px;
  --neutral:#f5f7fb;
  --green:#7dd691;
  --red:#bd6666;
  --card: rgb(243, 233, 234);
  --accent: #2578d6;
}
/* all elements get a border-box */
*{box-sizing:border-box}

body{
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  margin:20px;
  background:var(--neutral);
  color:#111;
}

/* Grid layout for the whole page */
.container {
  width: 100%;
  max-width: var(--max);
  display: grid;
  gap: var(--gap);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card);
  padding: 12px;
  border-radius: 8px;
}
.title {
  font-weight: bold;
  margin-top: 8px;
  text-shadow:#bd6666 1px 1px 2px;
}

.logo {
  background: var(--green);
  color: #e7d5d5;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  margin-left: 16px;
  color: var(--accent);
}

/* Main layout- 2 column grid */
main {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: var(--gap);
}

/* Projects layout - auto-fit grid */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}
.card {
  background: var(--card);
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card:hover { 
  background: var(--red); 
} 

/* nth-child psuedo-class for styling every other card different */
.card:hover:nth-child(odd) { 
  background: var(--green); 
} 

.thumb {
  height: 80px;
  background: #e0e7ff;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
.link {
  margin-top: auto;
  color: var(--accent);
  text-decoration: none;
}

/* hover effect for links - pseudo-class */
.link:hover { 
  text-decoration: underline; 
  text-shadow: 0 0 5px var(--accent);
}

/* sidebar */
aside {
  background: rgba(48, 177, 48, 0.322);
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* profile photo styling to be round avatar */
.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.name {
  font-weight: bold;
  margin-top: 8px;
  text-shadow:#bd6666 1px 1px 2px;
}

/* added pseudo-element for email icon */
li::marker {
    color: var(--red);
}

/* image styling */
.thumb {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block;
}

.contacts a {
  display: block;
  color: var(--muted);
  text-decoration: none;
  padding: 4px 0;
}

/* Footer flex*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card);
  padding: 10px;
  border-radius: 6px;
  margin-top: 8px;
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.social:hover img {
  transform: scale(1.1);
}